SystemEx/packages/
SystemEx/iQuarc.SystemEx/obj/
SystemEx/iQuarc.SystemEx.UnitTests/obj/
SystemEx/iQuarc.SystemEx.UnitTests/bin/
SystemEx/.vs/iQuarc.SystemEx/v15/
SystemEx/iQuarc.SystemEx/bin/
SystemEx/.vs/iQuarc.SystemEx/v14/
